:root{
    --text: #03000f;
    --white-text: #ebe9fc;
    --background: #fbfaff;
    --primary: #3f06f9;
    --secondary: #f173fc;
    --accent: #fa38e7;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono";
    color: var(--text);
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav h1{font-size: 30px;}

nav a:hover{text-decoration: underline;}